
@{
    ViewData["Title"] = "Sobre";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Sobre</h1>
<p>
    AcademiaFit nasceu com o intuito de trazer qualidade de vida para seus usuários.Contando com profissionais qualificados e equipamentos de ultima geração.
</p>

